{
    "application": {
        "database": {
            "host": "localhost",
            "port": "27017",
            "name": "test",
            "user": "user",
            "password": "password"
        },
        "domain": {
            "host": "localhost",
            "port": "9000",
            "protocol": "http"
        }
    },
    "oauth": {
        "refresh-token": {
            "secret": "my refresh token secret",
            "expire-in-minutes": -1
        },
        "access-token": {
            "secret": "my access token refresh",
            "expire-in-minutes": 30
        }
    },
    "launcher": {
        "api": {
            "default": true,
            "nb-forks": 2,
            "script": "./server.js",
            "options": {
                "protocole": "http",
                "serverName": "localhost",
                "port": 8080
            }
        }
    },
    "connectors": {
        "mailjet": {
            "disabled": true,
            "vendor": {
                "key": "xxxx",
                "secret": "xxxx"
            },
            "sender": "noreply@free.fr",
            "subject": "NOOPY - Account recovery"
        }
    },
    "acl": {
        "ignore":["^/assets.*"]
    },
    "doc": {
        "redirection":"http://localhost:9000"
    }
}
